* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "BeApiFont1";
    src: url("src/font/FontAwesome.otf") format("otf"),
}
@font-face {
    font-family: "BeApiFont2";
    src: url("src/font/FontAwesome.otf") format("otf"),
}

#main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hamburger{
    display:none;
    width: 50px;
    height: 50px;
}
   
#menuRight, #menuLeft{
    font-family: 'BeApiFont1', Arial, sans-serif;
    font-style:normal;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#menuLeft{
    font-size: 1.5em;
    font-weight:bold;
    width: 35%;
    
}
#identity{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#identity>p{
    margin-left: 20px ;
}

#menuRight{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#menu{
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
#menu li > a{
    text-decoration: none;
    color: black;

}

#menu > li{
    list-style-type: none;
    margin-left: 50px;
}


#buttons{
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.singup, .singin{
    font-size: 20px;
    padding: 6px 12px;
    margin-bottom: 0;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 15px;
    border: 1px solid #dee2e1;
    font-weight:bold;

    
}

.singin {
    color: black;
    background-color: white;
  }
  .singup{
    color: white;
    background-color: orangered;
  }

  .singin:hover, .singup:hover{
    box-shadow: 5px 5px 5px #CDF3F1;    
}
#firstContent{
    width: 80%;
}
#cards{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#cards> div{
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#cards>div>p, #cards>div>h3 {
    
    margin-top: 20px;
}

#cards>div>h3{
    font-family: 'BeApiFont2', Arial, sans-serif;
}

#cards>div>img{
    border-radius: 10px;
}

#firstContent>h2{
    margin-top: 20px;
    font-family: 'BeApiFont2', Arial, sans-serif;
    font-size:xx-large;
    text-align: center;

}

#firstContent>input{
   
    display: block;
    margin : 0 auto;
    margin-top: 30px;
}

/************Slideshow*******************/
.api-slider{
    display: flex;
    width: 100ù;
    justify-content: center;
}

.slider-body{
    width: 80%;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 3px;
}


.slider-block{
    
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    display: none;
}
.slider-body div.active{
    display: flex;
}

.slider-left-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slider-img{
    width: 50%;
}

.slider-btn{

    font-size: 20px;
    width: 40%;
    padding: 6px 12px;
    margin-bottom: 0;
    text-decoration: none;
    cursor: pointer;
    margin-left: 15px;
    border: 1px solid #dee2e1;
    font-weight:bold;
    color: black;

    
}

.slider-buttons > a:first-child{
    text-decoration: none;
    background-color: rgb(253, 169, 12);
    color: white;
}
.slider-buttons > a:last-child{
    background-color: #f8f8f8;
    color: rgb(253, 169, 12);
}


/*******End slideshow*******/

/******Start footer ******/
#footer{
    margin-top: 50px;
    width: 100%;
    height: 250px;
    background-color: rgb(255, 249, 249);
}
.footer-body{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer-logo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: 'BeApiFont2', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
#footer-logo p{
    margin-top: 15px;
}

.footer-nav, .form-signup{
    display: flex;
    flex-direction: column;
}

.footer-body h3{
    margin-bottom: 20px;

}

.footer-body a{
    text-decoration: none;
    color: grey;

}

.footer-body  li{
    list-style-type: none;
    margin-top: 20px;
}

.footer-newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-signup{
    width: 50%;
}

.form-signup input{
    margin-top: 20px;
    outline: none;

}

.form-signup input:first-child{
    box-sizing: border-box;
    width: 100%;
    border: solid #eaebf0 2px;
    padding: 5px;

}
/*****End footer*******/









/**** Responsive ****/
@media screen and (max-width: 720px) {
    #hamburgerMenu{
        width: 100%;
    }
    #hamburger{
        display:block;
        
    }
    #hamburger:hover{
        cursor: pointer;
        
    }
    #main{
        align-items: baseline;
    }

    #header{
        flex-direction: column;
        width: 100%;
        
    }
    #menuBar{
        width: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: white;
    }
    #firstContent{
        width: 100%;
    }
    #menuLeft{
      
        width: 100%;
        
    }
    #menuRight{
      
        width: 100%;
        flex-direction: column;
    }
    #menu{
        width: 100%;
        margin-top: 25px;
        flex-direction: column;
        font-size: 1.5em;

    }
    #menu>li{
        margin-bottom: 20px;


    }
    #buttons{
        width: 100%;
        margin-top: 25px;

    }
    #cards{
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }
    #cards> div{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    /****footer*****/
    
.footer-body{
    flex-direction: column;
}

#footer-logo{
justify-content: center;
}
#footer div{
    width: 100%;

}
#footer li, #footer h3{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;


}
   
  }






  